<div>
  <h1><%= ApplicationHelper::APPNAME.capitalize  %></h1><br>
  <h2>
    This be the home page for <%= ApplicationHelper::APPNAME.capitalize  %>
  </h2>
  <%= render 'static_pages/waiting_users' %>
  <div class="modal fade" id="waiting-for-reply" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="modalLabel">Hang on...</h4>
        </div>
        <div class="modal-body">
          Waiting for a reply from <span id="waiting-for-reply-target"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="waiting-for-reply-timeout" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalLabel">Timed out</h4>
        </div>
      </div>
    </div>
  </div>
</div>
