<h1><%= ApplicationHelper::APPNAME.capitalize %> Password Reset</h1>

<p>
Hello, <%= @user.username %>,
</p>
<p>
Someone tried to log in as you and reset your password. If this wasn't you, you can ignore this message,
as someone knew you had an account at <%= ApplicationHelper::APPNAME %>.com but they don't have your password.
Just delete this message and your password will stay unchanged.
</p>
<p>
If this was you, you have two hours to click on the following link where you'll be prompted to create a new password
(which in my experience will probably be the same as your old password anyway - we don't get upset if you do that).
</p>
<%= edit_password_reset_url(@user.id, token: @user.reset_token, email: @user.email) %>
