<%# debugger %>
<% if !@user %>
  <% puts "QQQ: no user for image" %>
  <span>&nbsp;</span>
<% elsif @user.image&.attached? %>
  <%= image_tag @user.display_image %>
<% else %>
  <%= gravatar_for @user, size: 40 %>
<% end %>
