<h1>It's a tie!</h1>
<p><span id="result1">You both got it in <%= pluralize(@game_state.guesses.size, "guess") %>!</span> |
  <button class="button" type="button" id="shareResults">Copy to Clipboard</button></p>

<%= render 'games/final_guesses' %>
