<%
  score = @other_state.guesses.size
  @outcome = "#{ @other_player.username } surrendered to #{ @user.username } after #{ pluralize(score, "guess") }"
%>
<p><%= @other_player.username %> gave up.</p>
<%= render 'games/show_both_guesses' %>

<%= render 'static_pages/modals_markup' %>
<%= render 'static_pages/modals_js' %>
