<%
  other_player ||= @other_player
  gameState ||= @game_state
%>

<h2><%= other_player.username %>'s word is <strong><%= gameState.finalWord %></strong></h2>
<p>
  Waiting for <%= other_player.username %> to pick your word
</p>
